@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    
    scroll-behavior: smooth;
    scroll-padding: var(--scroll-padding, 5rem);
  }

*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smoth;
}



/*General*/
p {
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #afafaf;
    margin-top: 10px;
    margin-left: 18%;
    margin-right: 18%;
}

section{
    padding: 20px 200px;
    width: 1000px;
    height: 1000px;
}

h4{
    color: #2a2a2a;
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 10px;
}

h4 em {
    font-style: normal;
    color: #4b8ef1;
}

hr{
width: 90% ;
border: 0px;
border-bottom:1px solid #293d5c ;
margin: 20px auto;
}


/*end of general*/


















/*Header*/
header{
    display:flex;
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index:999;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 10px 100px;
    
}

.title{
    text-decoration:none;
    color:darkblue;
    text-transform :uppercase;
    font-weight: 700;
    font-size:1.8em;
    padding-left: 60px;
}

.logopng{
    width: 57px;  
    height: 43px; 
    position: absolute;
}

.navigation a{
    text-decoration:none;
    color: darkblue;
    font-weight: 500;
    font-size:1.1em;
    padding-left: 25px;
}

.navigation a:hover{
    color:rgb(111, 166, 21);
}

/*end of header*/







.container {
    width: 100%;
    height: 130vh;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    flex-direction: column; 
    
}

.content {
    text-align: center;
}

.content h1 {
    position: relative;
    font-size: 50px;
    color: darkblue;
    right: 120px;
}

.background-clip {
    display: inline-block; 
    position: relative;
    left: 150px;
   top: 20px;
    z-index: 0;
}













/*footer section*/
footer{
    background-color: #29292b;
    width: 100%;
    bottom: 0;
    background: linear-gradient( to right,#00093c,#2d0b00);
    color:#fff ;
    padding:100px 0px 50px ;
    border-top-left-radius: 100px;
    font-size:13px ;
    line-height: 20px; 
}

.row{
    width:85% ;
    margin:auto;
    display:flex ;
    flex-wrap:wrap;
    align-items: flex-start ;
    justify-content: space-between;
     margin-top: 0%;
     

}

.col{
    flex-basis: 25% ;
    padding: 10px;
    position:center;

}

.col p{
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #afafaf;
    margin-top: 0px;
    margin-left: 0%;
    margin-right: 0%;
    
}
.col h3{
    width: fit-content ;
    margin-bottom: 20px;
    position: relative;
    text-align: center;

}

.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0px;
    overflow: hidden;
}
.underline span{
    width: 15px;
    height: 100%;
    background: #ffff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;

}




@keyframes moving{
    0%{
      left: -20px;
    }
    100%{
      left: 100%;
    }
  }
  
  
  .logo{
      width: 265px;  
      height: 200px; 
      margin-left: 30px;
      position:relative;
      
  }
  .logo1{
      width: 58px;  
      height: 70px; 
      position:relative;
  }
  .logo2{
      width: 73px;  
      height: 70px; 
      position:relative;
  }
  .logo3{
      width: 69px;  
      height: 70px; 
      position:relative;
  }
  /*end of footer section*/
  


